# 1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.2.1'

# 2. How to create a series from a list, numpy array and dict?

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input : 

mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

In [16]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

pd.Series(mylist)
pd.Series(myarr)
pd.Series(mydict)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# 3. How to convert the index of a series into a column of a dataframe?
Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.

input : 

mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)

In [32]:
mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)

pd.DataFrame(ser).reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# 4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

Input

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser2 = pd.Series(np.arange(26))

In [42]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser2 = pd.Series(np.arange(26))

pd.concat([ser1, ser2], axis = 1)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

# 5. How to assign name to the series’ index?
Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

Input : 
    
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [49]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

# 6. How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [57]:
ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

#pd.Series.compare(ser1, ser2)

#Fail 
#Solution -> ser1[~ser1.isin(ser2)]
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# 7. How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

Input

ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [14]:
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

# Fail
#Solution : 

#ser_u = pd.Series(np.union1d(ser1, ser2))  # union
#ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
#ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input : 

ser = pd.Series(np.random.normal(10, 5, 25))

In [40]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.min()
ser.quantile(q = 0.25)
ser.median()
ser.quantile(q = 0.75)
ser.max()

#Better solution 
#np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-3.07663092,  4.86454596, 11.28765502, 15.41779859, 21.34841599])

# 9. How to get frequency counts of unique items of a series?
Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

Input : 

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [48]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

b    5
a    5
e    5
h    4
d    4
f    3
g    3
c    1
dtype: int64

# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input : 

np.random.RandomState(100)

ser = pd.Series(np.random.randint(1, 5, [12]))

In [137]:
np.random.seed(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top_2 = ser.value_counts()
ser[~ ser.isin(top_2.index[:2])] = "other"
ser

0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     other
8     other
9         1
10    other
11    other
dtype: object

# How to bin a numeric series to 10 groups of equal size?
Difficulty Level: L2

Bin the series ser into 10 equal deciles and replace the values with the bin name.
Input

ser = pd.Series(np.random.random(20))

In [155]:
np.random.seed(100)
ser = pd.Series(np.random.random(20))

pd.cut(ser, 10, labels = ['1st', '2nd', '3rd', '4th','5th', '6th', '7th', '8th', '9th', '10th'])

#Solution 
#pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        #labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0     0.543405
1     0.278369
2     0.424518
3     0.844776
4     0.004719
5     0.121569
6     0.670749
7     0.825853
8     0.136707
9     0.575093
10    0.891322
11    0.209202
12    0.185328
13    0.108377
14    0.219697
15    0.978624
16    0.811683
17    0.171941
18    0.816225
19    0.274074
dtype: float64

# 12. How to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

ser = pd.Series(np.random.randint(1, 10, 35))

In [178]:
np.random.seed(100)
ser = pd.Series(np.random.randint(1, 10, 35))

#Fail
#Solution : pd.DataFrame(ser.values.reshape(7,5))

# 13. How to find the positions of numbers that are multiples of 3 from a series?

Difficulty Level: L2

Find the positions of numbers that are multiples of 3 from ser.


Input : 


ser = pd.Series(np.random.randint(1, 10, 7))

In [194]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser.index[ser % 3 == 0].tolist()

[2, 4, 6]

# 14. How to extract items at given positions from a series
Difficulty Level: L1

From ser, extract the items at positions in list pos.

Input : 

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]

In [197]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

# 15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input : 

ser1 = pd.Series(range(5))

ser2 = pd.Series(list('abcde'))

In [207]:
ser1 = pd.Series(range(5))

ser2 = pd.Series(list('abcde'))

#horizontal
pd.concat([ser1, ser2], axis = 0)
# Vertical 
pd.concat([ser1, ser2], axis = 1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

# 16. How to get the positions of items of series A in another series B?

Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

Input : 

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])

ser2 = pd.Series([1, 3, 10, 13])

In [208]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [227]:
is_in = ser1.isin(ser2)
ser1[is_in==True].index.to_list()

[0, 4, 5, 8]